In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\car_data.csv")

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
df.shape

(301, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [9]:
x = df.drop(['Car_Name', 'Selling_Price'], axis = 1)

In [10]:
x.head()

   Year  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014           5.59       27000    Petrol      Dealer       Manual      0
1  2013           9.54       43000    Diesel      Dealer       Manual      0
2  2017           9.85        6900    Petrol      Dealer       Manual      0
3  2011           4.15        5200    Petrol      Dealer       Manual      0
4  2014           6.87       42450    Diesel      Dealer       Manual      0

In [12]:
y = df.Selling_Price

In [13]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [14]:
x.isnull().sum()

Year             0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [23]:
x['differnce'] = 2023 - x['Year']

In [24]:
x.head()

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,differnce
0,2014,5.59,27000,Petrol,Dealer,Manual,0,9
1,2013,9.54,43000,Diesel,Dealer,Manual,0,10
2,2017,9.85,6900,Petrol,Dealer,Manual,0,6
3,2011,4.15,5200,Petrol,Dealer,Manual,0,12
4,2014,6.87,42450,Diesel,Dealer,Manual,0,9

In [28]:
x.drop('Present_Price', axis = 1, inplace = True)

In [29]:
x.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  differnce
0  2014       27000    Petrol      Dealer       Manual      0          9
1  2013       43000    Diesel      Dealer       Manual      0         10
2  2017        6900    Petrol      Dealer       Manual      0          6
3  2011        5200    Petrol      Dealer       Manual      0         12
4  2014       42450    Diesel      Dealer       Manual      0          9

In [31]:
x['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [32]:
x['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [33]:
x['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [34]:
x = pd.get_dummies(data = x, columns=['Fuel_Type', 'Seller_Type', 'Transmission'], drop_first=True)

In [35]:
x.head()

,Year,Kms_Driven,Owner,differnce,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,2014,27000,0,9,0,1,0,1
1,2013,43000,0,10,1,0,0,1
2,2017,6900,0,6,0,1,0,1
3,2011,5200,0,12,0,1,0,1
4,2014,42450,0,9,1,0,0,1

In [36]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    301 non-null    int64
 1   Kms_Driven              301 non-null    int64
 2   Owner                   301 non-null    int64
 3   differnce               301 non-null    int64
 4   Fuel_Type_Diesel        301 non-null    uint8
 5   Fuel_Type_Petrol        301 non-null    uint8
 6   Seller_Type_Individual  301 non-null    uint8
 7   Transmission_Manual     301 non-null    uint8
dtypes: int64(4), uint8(4)
memory usage: 10.7 KB

In [37]:
from sklearn.preprocessing import MinMaxScaler

In [38]:
scaler = MinMaxScaler()

In [40]:
x ['Year'] = scaler.fit_transform(df[['Year']])

In [44]:
x['Kms_Driven'] = scaler.fit_transform(df[['Kms_Driven']])

In [45]:
x ['Owner'] = scaler.fit_transform(df[['Owner']])

In [47]:
x.head()

,Year,Kms_Driven,Owner,differnce,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.733333,0.053053,0.0,9,0,1,0,1
1,0.666667,0.085085,0.0,10,1,0,0,1
2,0.933333,0.012813,0.0,6,0,1,0,1
3,0.533333,0.009409,0.0,12,0,1,0,1
4,0.733333,0.083984,0.0,9,1,0,0,1

In [48]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [51]:
X_train.shape

(201, 8)

In [52]:
X_test.shape

(100, 8)

In [53]:
y_test.shape

(100,)

In [54]:
y_train.shape

(201,)

In [55]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
model = LinearRegression()

In [58]:
model.fit(X_train, y_train)

LinearRegression()

In [59]:
model.score(X_test, y_test)

0.6177513428681198

In [60]:
predict = model.predict(X_test)

In [62]:
predict[:5]

array([ 5.703125,  5.328125,  9.125   , -0.34375 ,  3.75    ])

In [63]:
y_test[:5]

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
Name: Selling_Price, dtype: float64