In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\DATA (2).csv")

In [6]:
df.head()

          Car       Model  Volume  Weight  CO2  Unnamed: 5
0      Toyota        Aygo    1000     790   99         NaN
1  Mitsubishi  Space Star    1200    1160   95         NaN
2       Skoda      Citigo    1000     929   95         NaN
3        Fiat         500     900     865   90         NaN
4        Mini      Cooper    1500    1140  105         NaN

In [7]:
df.tail()

         Car   Model  Volume  Weight  CO2  Unnamed: 5
31     Volvo    XC70    2000    1746  117         NaN
32      Ford   B-Max    1600    1235  104         NaN
33       BMW       2    1600    1390  108         NaN
34      Opel  Zafira    1600    1405  109         NaN
35  Mercedes     SLK    2500    1395  120         NaN

In [8]:
df.shape

(36, 6)

In [9]:
df.info

<bound method DataFrame.info of            Car       Model  Volume  Weight  CO2  Unnamed: 5
0       Toyota        Aygo    1000     790   99         NaN
1   Mitsubishi  Space Star    1200    1160   95         NaN
2        Skoda      Citigo    1000     929   95         NaN
3         Fiat         500     900     865   90         NaN
4         Mini      Cooper    1500    1140  105         NaN
5           VW         Up!    1000     929  105         NaN
6        Skoda       Fabia    1400    1109   90         NaN
7     Mercedes     A-Class    1500    1365   92         NaN
8         Ford      Fiesta    1500    1112   98         NaN
9         Audi          A1    1600    1150   99         NaN
10     Hyundai         I20    1100     980   99         NaN
11      Suzuki       Swift    1300     990  101         NaN
12        Ford      Fiesta    1000    1112   99         NaN
13       Honda       Civic    1600    1252   94         NaN
14      Hundai         I30    1600    1326   97         NaN
15        Opel       Astra    1600    1330   97         NaN
16         BMW           1    1600    1365   99         NaN
17       Mazda           3    2200    1280  104         NaN
18       Skoda       Rapid    1600    1119  104         NaN
19        Ford       Focus    2000    1328  105         NaN
20        Ford      Mondeo    1600    1584   94         NaN
21        Opel    Insignia    2000    1428   99         NaN
22    Mercedes     C-Class    2100    1365   99         NaN
23       Skoda     Octavia    1600    1415   99         NaN
24       Volvo         S60    2000    1415   99         NaN
25    Mercedes         CLA    1500    1465  102         NaN
26        Audi          A4    2000    1490  104         NaN
27        Audi          A6    2000    1725  114         NaN
28       Volvo         V70    1600    1523  109         NaN
29         BMW           5    2000    1705  114         NaN
30    Mercedes     E-Class    2100    1605  115         NaN
31       Volvo        XC70    2000    1746  117         NaN
32        Ford       B-Max    1600    1235  104         NaN
33         BMW           2    1600    1390  108         NaN
34        Opel      Zafira    1600    1405  109         NaN
35    Mercedes         SLK    2500    1395  120         NaN>

In [10]:
df.isnull().sum()

Car            0
Model          0
Volume         0
Weight         0
CO2            0
Unnamed: 5    36
dtype: int64

In [11]:
df.describe()

            Volume       Weight         CO2  Unnamed: 5
count    36.000000    36.000000   36.000000         0.0
mean   1611.111111  1292.277778  102.027778         NaN
std     388.975047   242.123889    7.454571         NaN
min     900.000000   790.000000   90.000000         NaN
25%    1475.000000  1117.250000   97.750000         NaN
50%    1600.000000  1329.000000   99.000000         NaN
75%    2000.000000  1418.250000  105.000000         NaN
max    2500.000000  1746.000000  120.000000         NaN

In [12]:
x = df [['Volume', 'Weight']]

In [14]:
x.head()

   Volume  Weight
0    1000     790
1    1200    1160
2    1000     929
3     900     865
4    1500    1140

In [17]:
y = df.CO2

In [18]:
y.head()

0     99
1     95
2     95
3     90
4    105
Name: CO2, dtype: int64

In [19]:
model = LinearRegression()

In [21]:
model.fit(x, y)

LinearRegression()

In [22]:
model.coef_

array([0.00780526, 0.00755095])

In [24]:
intercept = model.intercept_
intercept

79.6947192911594

In [25]:
model.predict(x)

array([ 93.46522516,  97.82012716,  94.51480683,  93.25102045,
       100.01068547,  94.51480683,  98.99608035, 101.70964861,
        99.79925895, 100.8667207 ,  95.6804309 ,  97.31699187,
        95.89663018, 101.63691732, 102.19568742, 102.22589121,
       102.49017436, 106.53149836, 100.63264133, 105.33289232,
       104.14383181, 106.08798705, 106.39280312, 102.86772172,
       105.98982473, 102.46474333, 106.55614578, 108.33061839,
       103.68322403, 108.17959944, 108.20503047, 108.48918828,
       101.50855121, 102.67894804, 102.79221225, 109.74143455])

In [26]:
model.predict([[1200, 700]])

D:\anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([94.34669141])

In [27]:
x.describe()

            Volume       Weight
count    36.000000    36.000000
mean   1611.111111  1292.277778
std     388.975047   242.123889
min     900.000000   790.000000
25%    1475.000000  1117.250000
50%    1600.000000  1329.000000
75%    2000.000000  1418.250000
max    2500.000000  1746.000000

In [29]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
scaler = MinMaxScaler()

In [34]:
scaler.fit_transform(x)

array([[0.0625    , 0.        ],
       [0.1875    , 0.38702929],
       [0.0625    , 0.14539749],
       [0.        , 0.07845188],
       [0.375     , 0.36610879],
       [0.0625    , 0.14539749],
       [0.3125    , 0.33368201],
       [0.375     , 0.60146444],
       [0.375     , 0.33682008],
       [0.4375    , 0.37656904],
       [0.125     , 0.19874477],
       [0.25      , 0.20920502],
       [0.0625    , 0.33682008],
       [0.4375    , 0.4832636 ],
       [0.4375    , 0.56066946],
       [0.4375    , 0.56485356],
       [0.4375    , 0.60146444],
       [0.8125    , 0.5125523 ],
       [0.4375    , 0.34414226],
       [0.6875    , 0.56276151],
       [0.4375    , 0.83054393],
       [0.6875    , 0.66736402],
       [0.75      , 0.60146444],
       [0.4375    , 0.65376569],
       [0.6875    , 0.65376569],
       [0.375     , 0.70606695],
       [0.6875    , 0.73221757],
       [0.6875    , 0.97803347],
       [0.4375    , 0.7667364 ],
       [0.6875    , 0.95711297],
       [0.75      , 0.85251046],
       [0.6875    , 1.        ],
       [0.4375    , 0.46548117],
       [0.4375    , 0.62761506],
       [0.4375    , 0.64330544],
       [1.        , 0.63284519]])